header {
  display: flex;
  align-items: center;  /* 세로 중앙 정렬 */
  justify-content: center;  /* 텍스트 중앙 정렬 */
  padding: 32px;
  background-color: #333;
  position: relative;
  flex-direction: column;  /* 수직 방향으로 정렬 */
  text-align: center; /* 중앙 정렬 */
}

.logo {
  position: absolute;
  left: 20px;  /* 로고를 왼쪽 끝으로 배치 */
  width: 50px;  /* 로고 크기 */
  height: auto;
}

header h1, header p {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 5px 0;  /* 위아래 여백 추가 */
}

header p {
  font-size: 14px;
  color: #ff6;
}

.music-player-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* 추가적으로 MusicPlayer에 스타일을 줄 수도 있습니다. */
.music-player {
  /* 플레이어의 크기와 스타일을 조정 */
  width: 150px; /* 예시 */
  height: 50px; /* 예시 */
}